.search-container {
  background-color: rgba(0, 0, 0, 0.85);
  text-align: center;
  line-height: 40px;
}
.search-container input {
  width: 75%;
}
.shop-container {
  display: grid;
  grid-template-columns: 3fr 1fr;
}
.product-container {
  border-right: 1px solid lightgray;
  margin-right: 5px;
  margin-left: 50px;
}
.pagination {
  margin: 30px;
  text-align: center;
}
.pagination button {
  padding: 10px 20px;
  margin-right: 10px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
}
.pagination .selected {
  background-color: rgb(124, 124, 209);
  color: White;
  border: none;
  padding: 5 10px;
  margin-right: 10px;
  font-weight: bold;
  border-radius: 20px;
}
